<nav class="navbar navbar-expand-lg fixed-top" id="home-navbar">
  <a class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule a Pick Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Order History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account">Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<section class="account-details-page">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <div class="container">
          <div class="content">
            <h1>Account</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>