<nav class="navbar navbar-expand-lg navbar-fixed-top" id="home-navbar">
  <a class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule a Pick Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order-history">Order History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account">Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<section id="account-detail-section">
  <div class="container">
    <h1 class ="section-title">Account</h1>
    <h2 class="h3 content-title">Settings</h2>

    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-6 col-6">
        <label for="name" class="question-label h4">
          Name
          <a href="#" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
          </a>
        </label>
        <p><span id="FIRST_NAME"></span> <span id="LAST_NAME"></span></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="rating" class="question-label h4">
          Rating
        </label>
        <div class="myRating-1"></div>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="email" class="question-label h4">
          Email
          <a href="#" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
          </a>
        </label>
        <p><span id="EMAIL_ADDRESS"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="phonenumber" class="question-label h4">
          Phone Number
          <a href="#" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
          </a>
        </label>
        <p><span id="PHONE_NUMBER"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <span class="col-title">
        <label for="address" class="question-label h4">
          Address
          <a href="#" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
          </a>
        </label>
        <p><span id="ADDRESS"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="password" class="question-label h4">
          Password
          <a href="#" class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span><strong>Edit</strong></span>            
          </a>
        </label>>
        <p>******</p>
      </div>

      
    </div>

    <h2 class="h3 content-title">
      Payment Method
      <a class="modal-btn" data-toggle="modal" data-target="./">+</a>
    </h2>


  </div>
</section>