<nav class="navbar navbar-expand-lg navbar-fixed-top" id="home-navbar">
  <a class="navbar-brand" href="#">
		<img class= "img-fluid" src="img/logo_expresslaundry_navbar.png" alt="ExpressBrand">
  </a>
  <a class="navbar-brand">Express Laundry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/all-tasks">All Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find-work">Find Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule a Pick Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order-history">Order History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/account">Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<section id="account-detail-section">
  <div class="container">
    <h1 class ="section-title">Account</h1>
    <h2 class="h3 content-title">Settings
      <a class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target=".edit-modal">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong><p>Edit</p></strong></span>            
      </a>
    </h2>

    <div class="row align-content-center">
      <div class="col-lg-6 col-sm-6 col-6">
        <label for="name" class="question-label h4">
          Name
        </label>
        <p><span id="FIRST_NAME"></span> <span id="LAST_NAME"></span></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="rating" class="question-label h4">
          Rating
        </label>
        <div class="myRating-1"></div>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="email" class="question-label h4">
          Email
        </label>
        <p><span id="EMAIL_ADDRESS"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="phonenumber" class="question-label h4">
          Phone Number
        </label>
        <p><span id="PHONE_NUMBER"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <span class="col-title">
        <label for="address" class="question-label h4">
          Address
        </label>
        <p><span id="ADDRESS"></p>
      </div>

      <div class="col-lg-6 col-sm-6 col-6">
        <label for="password" class="question-label h4">
          Password
        </label>
        <p>******</p>
      </div>

      
    </div>

    <h2 class="h3 content-title">
      Payment Method
      <a class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target=".payment-modal">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong><p> + </p></strong></span>            
      </a>
    </h2>
    <div class="row" id="payment-method-container">

      <div class="col-lg-3 col-mid-3 col-sm-6 col-12" id="card-container">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Visa 9945</h5>
            <h6 class="card-subtitle mb-2 text-muted">Exp: 04/13</h6>
            <a class="card-link" data-toggle="modal" data-target=".///">Edit Card Info</a>
          </div>
        </div>
        </div>

        <div class="col-lg-3 col-mid-3 col-sm-6 col-12" id="card-container">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Paypal</h5>
              <h6 class="card-subtitle mb-2 text-muted">John@Doe.com</h6>
              <a class="card-link" data-toggle="modal" data-target=".///">Edit Card Info</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-mid-3 col-sm-6 col-12" id="card-container">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Account Credit</h5>
              <h6 class="card-subtitle mb-2 text-muted">$43.26</h6>
            </div>
          </div>
        </div>

    </div>

    <div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="editInformation" aria-hidden="true">
      <div class= "modal-dialog modal-lg">
        <div class= "modal-content">
          <div class= "modal-header">
            <h4 class="modal-title">Edit Information</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-btn"></span>
            </button>
          </div>

          <div class= "modal-body">
            <div class="container-fluid">
            
                <h5 class="modal-subtitle">Edit Name</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newFirstName" value="John" name="newName">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newLastName" value="Doe" name="newName">
                  </div>
                </div>
              

             
                <h5 class="modal-subtitle">Edit Email</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newEmail" value="John@Doe.com" name="newEMail">
                  </div>
                </div>
              

              
                <h5 class="modal-subtitle">Edit Phone Number</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newPhoneNumber" value="111-222-3333" name="newPhoneNumber">
                  </div>
                </div>
              

              
                <h5 class="modal-subtitle">Edit Address</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newAddress" value="770 Michigan Avenue, Gibsonia, PA 15044" name="mewAddress">
                  </div>
                </div>
              

                <h5 class="modal-subtitle">Edit Password</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-9 col-12">
                    <input type="text" class="form-control" id="newPassword" value="" name="newPassword">
                  </div>
                </div>
              
              will need to confirm password to save changes
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade payment-modal" tabindex="-1" role="dialog" aria-labelledby="addPayment" aria-hidden="true">
      <div class= "modal-dialog modal-lg">
        <div class= "modal-content">
          <div class= "modal-header">
            <h4 class="modal-title">Add Payment Method</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-btn"></span>
            </button>
          </div>

          <div class= "modal-body">
            <div class="container-fluid">
            
                <h5 class="modal-subtitle">Credit Card Information</h5>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  Card # info box
                </div>
                </div>
              

              
                <h5 class="modal-subtitle">MM/YYYY</h5>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    MM Text Box
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    YYYY Text Box
                  </div>
                </div>

                <h5 class="modal-subtitle">CVV</h5>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  CVV text box
                </div>
                </div>


                <h5 class="modal-subtitle">Zip Code</h5>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  Zip Code Text Box
                </div>
                </div>
              

                <h5 class="modal-subtitle">Name on the Card</h5>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    name text box
                  </div>
                </div>
              

                <h5 class="modal-subtitle">Password</h5>
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  Input password to confirm
                </div>
                </div>
              will need to confirm password to save changes
              and add submit button
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>