<!DOCTYPE html>
<html>
<head>
	<title>Laundry Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<link href="/vendor/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/vendor/css/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/js/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/vendor/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jwt-decode.min.js"></script>
</head>
<body>

	{{{body}}}

	<script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/js/popper.min.js"></script>
	<script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/vendor/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/vendor/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/vendor/js/jquery.star-rating-svg.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/jwt-decode.min.js"></script>
</body>
</html>