<nav class="navbar navbar-expand-lg fixed-top" id="home-navbar">
  <a class="navbar-brand" href="#">
		<img class= "img-fluid" src="img/logo_expresslaundry_navbar.png" alt="ExpressBrand">
  </a>
  <a class="navbar-brand">Express Laundry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/all-tasks">All Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find-work">Find Work</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Schedule a Pickup<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order-history">Order History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
<section id="schedule-page">
   <div class="container" id ="nextpageContainer">
      <h1 class ="section-title">Schedule a Pickup</h1>
        <form class="schedule-form needs-validation"  novalidate>
            <div id="schedule-container">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="form-group">
                     <label for="address" class="question-label h4">Address</label>
                     <input type="text" class="form-control" id="address" value="770 Michigan Avenue, Gibsonia, PA 15044" name="address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="form-group">
                     <label for="tasker" class="question-label h4">Available Taskers</label>
                      <select class="custom-select" id="taskerlist" name="taskerlist" required>
                      <option value="">Select from taskers who are currently available</option>
                      <option value="John Doe">John Doe</option>
                      <option value="7:30">Jane Doe</option>
                      <option value="8:00">Bob Hill</option>
                      <option value="John Doe">Mike McFadden</option>
                      <option value="7:30">Steffany Chen</option>
                    </select>
                    <div class="invalid-feedback">
													Please select a pick up time.
										</div>
                  </div>
                </div>
              </div>
              

              <!-- start of pickup -->
              <span class="question-label h4">Pick Up</span>
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class= "form-group">
                    <label for="pickupDate" class="nested-label col-title">Date</label>
                    <input type ="text" class="form-control" id="pickupDate" name="pickupDate" required>
                        <div class="invalid-feedback">
													Please select a pick up date.
												</div>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="form-group">
                    <label for="pickupTime" class="nested-label col-title">Time</label>
                    <select class="custom-select" id="pickupTime" name="pickupTime" required>
                      <option value=""></option>
                      <option value="7:00">7:00 AM</option>
                      <option value="7:30">7:30 AM</option>
                      <option value="8:00">8:00 AM</option>
                      <option value="8:30">8:30 AM</option>
                      <option value="9:00">9:00 AM</option>
                      <option value="9:30">9:30 AM</option>
                      <option value="10:00">10:00 AM</option>
                      <option value="11:00">11:00 AM</option>
                      <option value="11:30">11:30 AM</option>
                      <option value="12:00">12:00 PM</option>
                      <option value="12:30">12:30 PM</option>
                      <option value="13:00">1:00 PM</option>
                      <option value="13:30">1:30 PM</option>
                      <option value="14:00">2:00 PM</option>
                      <option value="14:30">2:30 PM</option>
                      <option value="15:00">3:00 PM</option>
                      <option value="15:30">3:30 PM</option>
                      <option value="16:00">4:00 PM</option>
                      <option value="16:30">4:30 PM</option>
                      <option value="17:00">5:00 PM</option>
                      <option value="17:30">5:30 PM</option>
                      <option value="18:00">6:00 PM</option>
                      <option value="18:30">6:30 PM</option>
                      <option value="19:00">7:00 PM</option>
                      <option value="19:30">7:30 PM</option>
                      <option value="20:00">8:00 PM</option>
                      <option value="20:30">8:30 PM</option>
                      <option value="21:00">9:00 PM</option>
                      <option value="21:30">9:30 PM</option>
                      <option value="22:00">10:00 PM</option>
                    </select>
                    <div class="invalid-feedback">
													Please select a pick up time.
										</div>
                  </div>
                </div>
              </div>
              <!-- end of pickup -->
              <span class="question-label h4">What Would You Like to Do Today?</span>
              <div class="row">
                <div class="col-sm-12 col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="washDryBox" name="washDry" value="washDry" required>
                    <label class="form-check-label col-title" for="washDry">Wash & Dry</label>
                  </div>
                </div>
              </div>
              <!-- start of washDryDropOffContainer -->
                <div id="washDryDropOffContainer">
                  <div class="row">
                    <div class="col-sm-6 col-12">
                      <div class="form-group">
                        <label for="washDryDropoffDate" class="nested-label col-title">Drop Off Date</label>
                        <input type="text" class="form-control" id="washDryDropoffDate" name="washDryDropoffDate" required>
                        <div class="invalid-feedback">
													Please select a drop off date.
												</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12">
                      <div class ="form-group">
                        <label for="washDryDropoffTime" class="nested-label col-title">Drop Off Time</label>
                          <select class ="custom-select" id="washDryDropoffTime" name="washDryDropoffTime" required>
                            <option value=""></option>
                            <option value="7:00">7:00 AM</option>
                            <option value="7:30">7:30 AM</option>
                            <option value="8:00">8:00 AM</option>
                            <option value="8:30">8:30 AM</option>
                            <option value="9:00">9:00 AM</option>
                            <option value="9:30">9:30 AM</option>
                            <option value="10:00">10:00 AM</option>
                            <option value="11:00">11:00 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="12:00">12:00 PM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="13:00">1:00 PM</option>
                            <option value="13:30">1:30 PM</option>
                            <option value="14:00">2:00 PM</option>
                            <option value="14:30">2:30 PM</option>
                            <option value="15:00">3:00 PM</option>
                            <option value="15:30">3:30 PM</option>
                            <option value="16:00">4:00 PM</option>
                            <option value="16:30">4:30 PM</option>
                            <option value="17:00">5:00 PM</option>
                            <option value="17:30">5:30 PM</option>
                            <option value="18:00">6:00 PM</option>
                            <option value="18:30">6:30 PM</option>
                            <option value="19:00">7:00 PM</option>
                            <option value="19:30">7:30 PM</option>
                            <option value="20:00">8:00 PM</option>
                            <option value="20:30">8:30 PM</option>
                            <option value="21:00">9:00 PM</option>
                            <option value="21:30">9:30 PM</option>
                            <option value="22:00">10:00 PM</option>
                        </select>
                        <div class="invalid-feedback">
													Please select a drop off time.
												</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of washDryDropOffContainer -->

                  <div class="row">
                    <div class="col-sm-12 col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dropOffBox" name="dropoff" value="dropoff" required>
                        <label class="form-check-label col-title" for="dropOffBox">Dry Clean</label>
                      </div>
                    </div>
                  </div>
                  <div id="dryCleanDropOffContainer">
                    <div class="row">
                      <div class="col-sm-6 col-12">
                        <div class="form-group">
                          <label for="dryCleanDropoffDate" class="nested-label col-title">Drop Off Date</label>
                          <input type="text" class="form-control" id="dryCleanDropoffDate" name="dryCleanDropoffDate" required>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class ="form-group">
                          <label for="dryCleanDropoffTime" class="nested-label col-title">Drop Off Time</label>
                            <select class ="custom-select" id="dryCleanDropoffTime" name="dryCleanDropoffTime" required>
                              <option value=""></option>
                              <option value="7:00">7:00 AM</option>
                              <option value="7:30">7:30 AM</option>
                              <option value="8:00">8:00 AM</option>
                              <option value="8:30">8:30 AM</option>
                              <option value="9:00">9:00 AM</option>
                              <option value="9:30">9:30 AM</option>
                              <option value="10:00">10:00 AM</option>
                              <option value="11:00">11:00 AM</option>
                              <option value="11:30">11:30 AM</option>
                              <option value="12:00">12:00 PM</option>
                              <option value="12:30">12:30 PM</option>
                              <option value="13:00">1:00 PM</option>
                              <option value="13:30">1:30 PM</option>
                              <option value="14:00">2:00 PM</option>
                              <option value="14:30">2:30 PM</option>
                              <option value="15:00">3:00 PM</option>
                              <option value="15:30">3:30 PM</option>
                              <option value="16:00">4:00 PM</option>
                              <option value="16:30">4:30 PM</option>
                              <option value="17:00">5:00 PM</option>
                              <option value="17:30">5:30 PM</option>
                              <option value="18:00">6:00 PM</option>
                              <option value="18:30">6:30 PM</option>
                              <option value="19:00">7:00 PM</option>
                              <option value="19:30">7:30 PM</option>
                              <option value="20:00">8:00 PM</option>
                              <option value="20:30">8:30 PM</option>
                              <option value="21:00">9:00 PM</option>
                              <option value="21:30">9:30 PM</option>
                              <option value="22:00">10:00 PM</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>


            </div>
<!--  --------------- wash and dry - section 2  ---------------- -->
              <div id="washDrySelections">
                <span class="question-label h4">Wash & Dry</span>
                <div class="row" id="washDryLabels">
                  <div class="col-sm-4 col-4">
                    <span class="col-title">Load Size</span>
                  </div>
                  <div class ="col-sm-4 col-4">
                    <span class="col-title">Number</span>
                    </div>
                    <div class="col-sm-4 col-4">
                      <span class="col-title">Price</span>
                    </div>   
                </div>
                <div class="row">
                  <div class="col-sm-4 col-4">
                    <label class="control-label" for="large-size">large (20-25 pounds)</label>
                  </div>
                  <div class="col-sm-4 col-4">
                    <select class="custom-select custom-select-sm" id="large-size" name="large-size">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>
                  </div>
                  <div class="col-sm-4 col-4">
                    <span id="smallSizeTotal">$ 0</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-4">
                    <label for="medium-size">Medium (12-19 pounds)</label> 
                  </div>
                  <div class="col-sm-4 col-4">
                    <select class="custom-select custom-select-sm" id="medium-size" name="medium-size">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>
                  </div>
                  <div class="col-sm-4 col-4">
                    <span id="mediumSizeTotal">$ 0</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-4">
                    <label for="small-size">Small (under 12 pounds)</label>
                  </div>
                  <div class="col-sm-4 col-4">
                    <select class="custom-select custom-select-sm" id="small-size" name="small-size">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>
                  </div>
                  <div class="col-sm-4 col-4">
                    <span id="largeSizeTotal">$ 0</span>
                  </div>
                </div>
              </div><!-- end of washDrySelections -->

              <div id="dryCleanSelections">
                <span class="question-label h4">Dry Clean</span>
                <div class="row">
                  <div class="col-sm-4 col-4">
                    <span class="col-title">Categories</span>
                  </div>
                  <div class ="col-sm-4 col-4">
                    <span class="col-title">Number</span>
                    </div>
                    <div class="col-sm-4 col-4">
                      <span class="col-title">Price</span>
                    </div>   
                </div>
                <div class="row">
                  <div class="col-sm-4 col-4">
                    <select class="custom-select custom-select-sm" id="dryWashCategory1" name="dryCleanCategories">
                      <option selected value=""></option>
                      <option value="Jacket">Jacket</option>
                      <option value="Sweater">Sweater</option>
                      <option value="Coat">Coat</option>
                      <option value="Suit">Suit</option>
                      <option value="Dress">Dress</option>
                      <option value="Blanket">Blanket</option>
                      <option value="Pants">Pants</option>
                      <option value="Skirt">Skirt</option>
                    </select>
                  </div>
                  <div class ="col-sm-4 col-4">
                    <select class="custom-select custom-select-sm" id="dryWashNum1" name="dryCleanNum">
                      <option selected value=""></option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>             
                  </div>
                  <div class="col-sm-4 col-4">
                    <span id="dryWashTotal1">$ 0</span>
                  </div>   
                </div>
                <div id="additional-category"></div>
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <a id="add-category-btn" class="add-selection-btn">+ Add a new item</a>
                  </div>
                </div>
              </div><!-- end of dryCleanSelections -->

              <div class="row" id="submit-btn-container">
                <div class="col-sm-12 col-12">
                  <button type="button" value="Submit" onclick="checkout()" class="theme-btn schedule-btn">Check Out</button>
                </div>
              </div>

            
      </form>
   </div>
</section>
<script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/js/schedule.js"></script>