<nav class="navbar navbar-expand-lg fixed-top" id="home-navbar">
  <a class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">All Tasks <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
<section id="all-tasks-section">
  <div class="container">
    <h1 class="section-title">All Tasks</h1>
    <h2 class="h3 content-title">Pending (2)</h2>
    <div class="row entry-row">
      <div class="col-lg-3 col-sm-4 col-4">
        <span class="col-title">Brenda Walker</span>
        <p>770 Michigan Avenue, Gibsonia, PA 15044</p>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Pick-Up Time</span>
        <span>3:00 PM</span>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Drop-Off Time</span>
        <span>8:00 PM</span>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <span class="col-title">Order Status</span>
        <form>
            <div class="form-group">
              <select class="custom-select custom-select-sm" id="orderStatus" name="orderStatus">
                <option value="waiting">Waiting for pickup</option>
                <option value="pickedUp">Picked up</option>
                <option value="cleaning">Cleaning</option>
                  <option value="droppingOff">Dropping off</option>
                  <option value="completed">Completed</option>
              </select>
            </div>
        </form>
      </div>
      <div class="col-lg-2 col-sm-6 col-6 text-right">
        <a class="modal-btn" data-toggle="modal" data-target=".order-modal">View Details</a>
      </div>
    </div>
    <div class="row entry-row">
      <div class="col-lg-3 col-sm-4 col-4">
        <span class="col-title">Brenda Walker</span>
        <p>770 Michigan Avenue, Gibsonia, PA 15044</p>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Pick-Up Time</span>
        <span>3:00 PM</span>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Drop-Off Time</span>
        <span>8:00 PM</span>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <span class="col-title">Order Status</span>
        <form>
            <div class="form-group">
              <select class="custom-select custom-select-sm" id="orderStatus" name="orderStatus">
                <option value="waiting">Waiting for pickup</option>
                <option value="pickedUp">Picked up</option>
                <option value="cleaning">Cleaning</option>
                  <option value="droppingOff">Dropping off</option>
                  <option value="completed">Completed</option>
              </select>
            </div>
        </form>
      </div>
      <div class="col-lg-2 col-sm-6 col-6 text-right">
        <a class="modal-btn" data-toggle="modal" data-target=".order-modal">View Details</a>
      </div>
    </div>

    <h2 class="h3 content-title">completedd (1)</h2>
    <span class="task-date">4/23/2019</span>
    <div class="row entry-row">
      <div class="col-lg-3 col-sm-4 col-4">
        <span class="col-title">Brenda Walker</span>
        <p>770 Michigan Avenue, Gibsonia, PA 15044</p>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Pick-Up Time</span>
        <span>3:00 PM</span>
      </div>
      <div class="col-lg-2 col-sm-4 col-4">
        <span class="col-title">Drop-Off Time</span>
        <span>8:00 PM</span>
      </div>
      <div class="col-lg-3 col-sm-6 col-6">
        <span class="col-title">Rate the Customer</span>
        <form>
            <div class="form-group">
              <select class="custom-select custom-select-sm" id="orderStatus" name="orderStatus">
                <option value="waiting">Waiting for pickup</option>
                <option value="pickedUp">Picked up</option>
                <option value="cleaning">Cleaning</option>
                  <option value="droppingOff">Dropping off</option>
                  <option value="completed">Completed</option>
              </select>
            </div>
        </form>
      </div>
      <div class="col-lg-2 col-sm-6 col-6 text-right">
        <a class="modal-btn" data-toggle="modal" data-target=".order-modal">View Details</a>
      </div>
    </div>

    <div class="modal fade order-modal" tabindex="-1" role="dialog" aria-labelledby="orderDetails" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Order Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-btn"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Name</span>
                  <span>Brenda Walker</span>
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Phone</span>
                  <span>231-022-1232</span>
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Address</span>
                  <span>770 Michigan Avenue, Gibsonia, PA 15044</span>
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Pick-Up Time</span>
                  <span>3:00 PM</span>
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Drop-Off Time</span>
                  <span>8:00 PM</span>
                </div>
                <div class="col-lg-4 col-sm-6 col-6">
                  <span class="col-title">Order Status</span>
                  <form>
                      <div class="form-group">
                        <select class="custom-select custom-select-sm" id="orderStatus" name="orderStatus">
                          <option value="waiting">Waiting for pickup</option>
                          <option value="pickedUp">Picked up</option>
                          <option value="cleaning">Cleaning</option>
                            <option value="droppingOff">Dropping off</option>
                            <option value="completed">Completed</option>
                        </select>
                      </div>
                  </form>
                </div>
              </div>
              <h5 class="modal-subtitle">Wash &amp; Dry</h5>
              <div class="row">
                <div class="col-sm-4 col-4">
                  <span class="col-title">Load Size</span>
                  <span>Large</span>
                </div>
                <div class="col-sm-4 col-4">
                  <span class="col-title">Number</span>
                  <span>2</span>
                </div>
                <div class="col-sm-4 col-4">
                  <span class="col-title">Prices</span>
                  <span>$14</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>