<nav class="navbar navbar-expand-lg fixed-top" id="home-navbar">
  <a class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Sign In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sign-up">Sign Up <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<section class="sign-in-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-12">
				<div class="intro-container d-flex justify-content-center align-items-center">
					<h1>Lorem ipsum dolor sit amet, eu erat aperiri blandit pro, cu vocent accusam cum. Qui an altera atomorum mediocrem, ad mentitum volutpat per, ius ut virtute oporteat. </h1>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-12">
				<div class="form-container d-flex justify-content-center align-items-center">
					<form id="sign-in-form" action="/sign-up" method="post">
						<div class="row">
							<div class="col-sm-6 col-12">
							  	<div class="form-group">
								    <label for="firstName">First Name</label>
								    <input type="text" class="form-control" name="firstName" id="firstName">
							  	</div>
							</div>
							<div class="col-sm-6 col-12">
							    <div class="form-group">
							    	<label for="lastName">Last Name</label>
							    	<input type="text" class="form-control" name="lastName" id="lastName">
							    </div>
							</div>
						</div>
					    <div class="form-group">
						    <label for="emailAddress">Email</label>
						    <input type="email" class="form-control" name="emailAddress" id="emailAddress" aria-describedby="emailHelp">
					    </div>
					    <div class="form-group">
						    <label for="phoneNumber">Phone</label>
						    <input type="text" class="form-control"  name="phoneNumber" id="phoneNumber">
					    </div>
					    <div class="form-group">
						    <label for="address">Address</label>
						    <input type="text" class="form-control" name="address" id="address">
					    </div>
					    <div class="form-group">
						    <label for="password">Password</label>
						    <input type="password" class="form-control" name="password" id="password">
					    </div>
					    <div class="form-group">
						    <label for="confirmPassword">Confirm Password</label>
						    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
					    </div>
						<button type="submit" class="btn submit-btn">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</div>	
</section>