<nav class="navbar navbar-expand-lg fixed-top" id="home-navbar">
  <a class="navbar-brand">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Sign In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sign-up">Sign Up <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<section class="sign-in-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-12">
				<div class="intro-container d-flex justify-content-center align-items-center">
					<div class="intro-content">
						<h1>Lorem ipsum dolor sit amet, eu erat aperiri blandit pro, cu vocent accusam cum. Qui an altera atomorum mediocrem, ad mentitum volutpat per, ius ut virtute oporteat. </h1>
						<a href="#signUpContainer" class="intro-link js-scroll-trigger">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-12">
				<div class="form-container" id="signUpContainer">
					<div class="sign-up-container">
						<h2 class="h3 form-title">Sign Up</h2>
						<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Customer</a>
						    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tasker</a>
						</div>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
								
								<div class="collapse errorMessage">
										<div class="alert alert-danger" role="alert">
  											Your email is already registered. Click on "Sign In"
										</div>
								</div>



								<form id="customer-signup-form" class="registration-form form-validation" action="/sign-up" method="post" novalidate oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
									<div class="row">
										<div class="col-sm-6 col-12">
										  	<div class="form-group">
											    <label for="customerFirstName">First Name</label>
											    <input type="text" class="form-control" name="firstName" id="customerFirstName" required>
											    <div class="invalid-feedback">
											    	Please enter your first name.
											    </div>
										  	</div>
										</div>
										<div class="col-sm-6 col-12">
										    <div class="form-group">
										    	<label for="customerLastName">Last Name</label>
										    	<input type="text" class="form-control" name="lastName" id="customerLastName" required>
										    	<div class="invalid-feedback">
											    	Please enter your last name.
											    </div>
										    </div>
										</div>
									</div>
								    <div class="form-group">
									    <label for="customerEmailAddress">Email</label>
									    <input type="email" class="form-control" name="emailAddress" id="customerEmailAddress" aria-describedby="emailHelp" required>
										<div class="invalid-feedback">
											Please enter a valid email address.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="customerPhoneNumber">Phone</label>
									    <input type="text" class="form-control"  name="phoneNumber" id="customerPhoneNumber" required>
									    <div class="invalid-feedback">
											Please enter your phone number.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="customerAddress">Address</label>
									    <input type="text" class="form-control" name="address" id="customerAddress" required>
									    <div class="invalid-feedback">
											Please enter your address.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="customerPassword">Password</label>
									    <input type="password" class="form-control" name="password" id="customerPassword" required>
									    <div class="invalid-feedback">
											Please enter a password.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="confirmCustomerPassword">Confirm Password</label>
									    <input type="password" class="form-control" name="confirmPassword" id="confirmCustomerPassword" required>
									    <div class="invalid-feedback" id="validate">
											Please confirm your password.
										</div>
								    </div>
									<button type="submit" class="btn submit-btn theme-btn">Sign Up</button>
								</form>
							</div>
  							<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
								
									
								<div class="collapse errorMessage">
										<div class="alert alert-danger" role="alert">
  											Your email is already registered. Click on "Sign In"
										</div>
								</div>
								
								<form id="tasker-signup-form" class="registration-form form-validation" action="/sign-up" method="post" novalidate oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
									

									<div class="row">
										<div class="col-sm-6 col-12">
										  	<div class="form-group">
											    <label for="taskerFirstName">First Name</label>
											    <input type="text" class="form-control" name="taskerFirstName" id="taskerFirstName" required>
											    <div class="invalid-feedback">
											    	Please enter your first name.
											    </div>
										  	</div>
										</div>
										<div class="col-sm-6 col-12">
										    <div class="form-group">
										    	<label for="taskerLastName">Last Name</label>
										    	<input type="text" class="form-control" name="taskerLastName" id="taskerLastName" required>
											    <div class="invalid-feedback">
											    	Please enter your last name.
											    </div>
										    </div>
										</div>
									</div>
								    <div class="form-group">
									    <label for="taskerEmailAddress">Email</label>
									    <input type="email" class="form-control" name="taskerEmailAddress" id="taskerEmailAddress" aria-describedby="emailHelp" required>
										<div class="invalid-feedback">
											Please enter a valid email address.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="taskerPhoneNumber">Phone</label>
									    <input type="text" class="form-control"  name="taskerPhoneNumber" id="taskerPhoneNumber" required>
										<div class="invalid-feedback">
											Please enter your phone number.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="taskerAddress">Address</label>
									    <input type="text" class="form-control" name="taskerAddress" id="taskerAddress" required>
										<div class="invalid-feedback">
											Please enter your address.
										</div>
								    </div>
									<div class="row availability">
										<div class="col-sm-12 col-12">
											<span>Availability</span>
										</div>
										<div class="col-sm-4 col-12">
											<div class="form-group">
												<label for="dayOfWeek">Day of Week</label>
												<select class="custom-select custom-select-sm" id="dayOfWeek" name="dayOfWeek" required>
													<option value=""></option>
													<option value="monday">Monday</option>
													<option value="tuesday">Tuesday</option>
													<option value="wednesday">Wednesday</option>
												    <option value="thursday">Thursday</option>
												    <option value="friday">Friday</option>
												    <option value="saturday">Saturday</option>
												    <option value="sunday">Sunday</option>
												</select>
												<div class="invalid-feedback">
													Please select a day of week.
												</div>
											</div>
											<div id="additional-day"></div>
										</div>
										<div class="col-sm-4 col-12">
											<div class="form-group">
												<label for="startTime">Start Time</label>
												<select class="custom-select custom-select-sm" id="startTime" name="startTime" required>
													<option value=""></option>
								                    <option value="7:00">7:00 AM</option>    
								                    <option value="7:30">7:30 AM</option>    
								                    <option value="8:00">8:00 AM</option>    
								                    <option value="8:30">8:30 AM</option>    
								                    <option value="9:00">9:00 AM</option>    
								                    <option value="9:30">9:30 AM</option>    
								                    <option value="10:00">10:00 AM</option>
								                    <option value="11:00">11:00 AM</option>    
								                    <option value="11:30">11:30 AM</option>    
								                    <option value="12:00">12:00 PM</option>
								                    <option value="12:30">12:30 PM</option>
								                    <option value="13:00">1:00 PM</option>    
								                    <option value="13:30">1:30 PM</option>    
								                    <option value="14:00">2:00 PM</option>
								                    <option value="14:30">2:30 PM</option>    
								                    <option value="15:00">3:00 PM</option>    
								                    <option value="15:30">3:30 PM</option>    
								                    <option value="16:00">4:00 PM</option>    
								                    <option value="16:30">4:30 PM</option>    
								                    <option value="17:00">5:00 PM</option>    
								                    <option value="17:30">5:30 PM</option>    
								                    <option value="18:00">6:00 PM</option>    
								                    <option value="18:30">6:30 PM</option>    
								                    <option value="19:00">7:00 PM</option>    
								                    <option value="19:30">7:30 PM</option>    
								                    <option value="20:00">8:00 PM</option>    
								                    <option value="20:30">8:30 PM</option>    
								                    <option value="21:00">9:00 PM</option>    
								                    <option value="21:30">9:30 PM</option>    
								                    <option value="22:00">10:00 PM</option>
												</select>
												<div class="invalid-feedback">
													Please select a start time.
												</div>
											</div>
											<div id="additional-start-time"></div>
										</div>
										<div class="col-sm-4 col-12">
											<div class="form-group">
												<label for="endTime">End Time</label>
												<select class="custom-select custom-select-sm" id="endTime" name="endTime" required>
													<option value=""></option>
								                    <option value="7:00">7:00 AM</option>    
								                    <option value="7:30">7:30 AM</option>    
								                    <option value="8:00">8:00 AM</option>    
								                    <option value="8:30">8:30 AM</option>    
								                    <option value="9:00">9:00 AM</option>    
								                    <option value="9:30">9:30 AM</option>    
								                    <option value="10:00">10:00 AM</option>
								                    <option value="11:00">11:00 AM</option>    
								                    <option value="11:30">11:30 AM</option>    
								                    <option value="12:00">12:00 PM</option>
								                    <option value="12:30">12:30 PM</option>
								                    <option value="13:00">1:00 PM</option>    
								                    <option value="13:30">1:30 PM</option>    
								                    <option value="14:00">2:00 PM</option>
								                    <option value="14:30">2:30 PM</option>    
								                    <option value="15:00">3:00 PM</option>    
								                    <option value="15:30">3:30 PM</option>    
								                    <option value="16:00">4:00 PM</option>    
								                    <option value="16:30">4:30 PM</option>    
								                    <option value="17:00">5:00 PM</option>    
								                    <option value="17:30">5:30 PM</option>    
								                    <option value="18:00">6:00 PM</option>    
								                    <option value="18:30">6:30 PM</option>    
								                    <option value="19:00">7:00 PM</option>    
								                    <option value="19:30">7:30 PM</option>    
								                    <option value="20:00">8:00 PM</option>    
								                    <option value="20:30">8:30 PM</option>    
								                    <option value="21:00">9:00 PM</option>    
								                    <option value="21:30">9:30 PM</option>    
								                    <option value="22:00">10:00 PM</option>
												</select>
												<div class="invalid-feedback">
													Please select an end time.
												</div>
											</div>
											<div id="additional-end-time"></div>
										</div>
										<div id="additional-timeslots" class="row"></div>
										<div class="col-sm-12 col-12">
											<a id="add-availability-btn" class="add-selection-btn">+ Add more</a>
										</div>
									</div>
								    <div class="form-group">
									    <label for="password">Password</label>
									    <input type="password" class="form-control" name="taskerPassword" id="password" required>
										<div class="invalid-feedback">
											Please enter a password.
										</div>
								    </div>
								    <div class="form-group">
									    <label for="confirmPassword">Confirm Password</label>
									    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required>
										<div class="invalid-feedback">
											Please confirm your password.
										</div>
								    </div>
									<button type="submit" class="btn submit-btn theme-btn">Sign Up</button>
								</form>
  							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>	
</section>